<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcc.blog.mapper.CommentMapper">
    <select id="listCommentByBlogId" resultType="Comment">
        select * from t_comment where blog_id=#{blogId} and isDelete=0
        order by createTime
    </select>
    <select id="listParentCommentByBlogId" resultType="Comment">
        select * from t_comment where blog_id=#{blogId} and isDelete=0 and parent=-1
        order by createTime
    </select>
    <select id="listCommentByParent" resultType="Comment">
        select * from t_comment where isDelete=0 and parent=#{parentId}
        order by createTime
    </select>
    <select id="getComment" resultType="Comment">
        select * from t_comment where id=#{id} and isDelete=0
    </select>
    <insert id="saveComment" parameterType="Comment">
        insert into t_comment(nickname,email,content,avatar,createTime,parent,blog_id,addminComment,isDelete)
        values(#{nickname},#{email},#{content},#{avatar},#{createTime},#{parent},#{blogId},#{addminComment},0)
    </insert>
</mapper>